@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url(img/bg.png);
}

.product-details {
    width: 500px; /* Adjusted width */
    margin: 100px auto; /* Centering the container vertically and horizontally */
    text-align: center;
    background-color: var(--second-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.product-details h2 {
    margin-bottom: 1rem;
}

.product-details img {
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.product-details p {
    margin-bottom: 1rem;
}

.product-details form {
    max-width: 300px; /* Adjust as needed */
    margin: 0 auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group label {
    flex: 0 0 150px; /* Adjust width as needed */
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    flex: 1;
    padding: 0.5rem;
    margin-left: 10px; /* Adjust as needed for spacing */
    border: 1px solid #ccc;
    border-radius: 5px;
}


.product-details input[type="submit"] {
    width: 50%;
    padding: 0.5rem;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-details input[type="submit"]:hover {
    background-color: #a38053;
}
